#img-video-div {
    text-align: center;
}

h1 {
    font-size: 45px;
    color: white;
    text-align: center;
}

video {
    width: 100%;
}

#logo {
    width: 40%;
    position: relative;
}

#content-div {
    width: 80%;
    margin: 0 auto 200px auto;
    padding: 50px 0 50px 0;
    background-color: black;
}

#content-div p {
    color: white;
    font-size: 20px;
    margin: 50px;
}

#content-div h2 {
    font-size: 35px;
    color: white;
    margin: 50px;
}

@media (max-width: 768px) {
    #content-div {
        width: 100%;
        margin: 0 0 200px 0;
        padding: 50px 0 50px 0;
        background-color: black;
    }
}
